/*
information
===========
dscription: CSS for baidu_ife_task_1_2
author: Adam lee
updata: 2017/05/24
*/



/*
content
=======
information
content
colors
reset
entirety
layout
module
others
*/



/*
colors
======
#afafaf    ----gray
#dedede    ----light-gray
#fff       ----white
#e83928    ----red
#333       ----light-dark
#3355d0    ----blue
*/



/*reset*/



/*entirety*/



/*layout*/



/*module*/



/*others*/



body,address,h1,h2,article{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑"；
}

a{
	text-decoration: none;
	color: #afafaf;
}

body{
	background-color: #dedede;
}

article{
	background-color: #fff;
	margin: 40px;
	padding: 40px;
}

address{
	color: #afafaf;
}

header{
	color: #e83928;
	background-color: #fff;
}

nav ul li{
	float: left;
	list-style-type: none;
	width: 85px;
	text-align: center;
}

nav{
	float: right;
	position: relative;
	top: -40px;
	left: -30px;
}


figure{
	border: 2px solid #afafaf;
	text-align: center;
	width: 80%;
	margin: 3% 10%;
	padding: 0;
}

figure img{
	width: 90%;
	margin: 0 5% 5% 5%;
}

.article img{
	width: 60%;
	margin: 0 20%;
}

article ul li{
	list-style-type: none;
}

figcaption{
	padding: 15px 0;
}

table{
	width: 100%;
}

caption{
	font-weight: bold;
}

thead{
	background-color: #333;
	color: #fff;
}

tfoot{
	background-color:#afafaf;
	font-weight: bold;
	text-align: center;
}

tbody{
	text-align: center;
}

aside{
	background-color: #fff;
	width: 90%;
	margin: 0 3%;
	padding: 2%;
}

aside h2{
	border-left: 5px solid #afafaf;
	padding: 15px;
}

aside h3{
	text-align: center;
}

form{
	width: 30%;
	margin: 0 35%;
}

textarea{
	position: relative;
	top: -36px;
	left: 80px;
}

#submit{
	width: 100%;
	height: 40px;
	background-color: #3355d0;
	color: #fff;
	font: 20px "微软雅黑";
	border-radius: 10px;
}

footer{
	background-color: #fff;
	text-align: center;
	height: 100px;
}

footer p{
	padding: 40px 0 0 0;
}